@use '../../App.scss';

#nav-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    background-color: transparent;
    font-family: 'Sans-Regular', sans-serif;
    h1 {
        font-size: 2.5rem;
    }
}

.scroll-box {
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    margin-top: 15;
    height: 78%;
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    display:none;
}

.room-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 180%)
}

main {
    padding: 1.5rem;
    font-size: 2rem;
}

#player-list {
    padding-left: 0;
    list-style: none;
}

.player-box {
    $highlight-color: rgba(255, 0, 0, 1);
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: transparent solid 2.5px;
    border-radius: 10px;
    font-family: 'Sans-Regular', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    transition: all 0.5s;
    &:hover {
        cursor: pointer;
        //border: $highlight-color solid 2.5px;
        //color: scale-color(change-color($highlight-color, $alpha: 0.75), $lightness: +15%);
        background-color: scale-color(change-color($highlight-color, $alpha: 0.75), $lightness: +15%);
    }
    &:active {
        opacity: 0.5;
    }
}

.player-work-box {
    min-width: 500;
    min-height: 250;
    padding: 1rem;
    text-overflow: ellipsis;
    border: 2.5px solid white;
    border-radius: 15px;
    transition: all 0.15s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        cursor: pointer;
    }
    &:active {
        opacity: 0.65;
    }
}