@use '../App.scss';

#title {
    position: absolute;
    font-size: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-5rem);
    color: white;
}

#input {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(5rem);
}

.input-box {
    text-align: center;
    font-family: 'Jost-Book', sans-serif;
    font-size: 3rem;
    color: rgba(230, 230, 230, 0.85);
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}

//TODO: find more efficient way to do both the below subtitles and integrate into App.scss
#raised-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-5rem);
    font-size: 5rem;
    color: white;
    white-space: nowrap;
}

#centered-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    white-space: nowrap;
}