@use '../App.scss';

#title {
    font-size: 8rem;
    color: white;
    margin-bottom: -2rem;
}

#input {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(5rem);
}

.input-box {
    text-align: center;
    font-family: 'Sans-Regular', sans-serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
        animation: blinking-bg 1.2s infinite;
    }
}

@keyframes blinking-bg {
    0% {background-color: rgba(105, 119, 153, 0);}
    50% {background-color: rgba(76,88,117,0.5);}
    100% {background-color: rgba(105, 119, 153, 0);}
}

//TODO: find more efficient way to do both the below subtitles and integrate into App.scss
#raised-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-5rem);
    font-size: 5rem;
    color: white;
    white-space: nowrap;
}

#centered-subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    white-space: nowrap;
}

#nameInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(5rem);
    width: 25rem;
    height: 3.5rem;
    border: none;
    border-bottom: solid white 5px;
    font-family: 'Sans-Regular', sans-serif;
    font-size: 2.5rem;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}