.loading-circle {
    width: 7.5rem;
    height: 7.5rem;
    border-width: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-left-color: white;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loading-plane {
    width: 7.5rem;
    height: 7.5rem;
    animation-name: bobbing;
    animation-duration: 1s;
    animation-name: antibob;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bobbing {
    from {
        transform:translate(0px,0px);
    }
    to {
        transform:translate(0px, 100px);
    }
}

@keyframes antibob {
    from {
        transform:translate(0px,0px);
    }
    to {
        transform:translate(0px, -100px);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}