@use '../App.scss';

#nav-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    background-color: App.$secondary;
    font-family: 'Jost-Book', sans-serif;
    h1 {
        font-size: 2.5rem;
    }
}

#room-code {
    font-family: 'Jost-Thin', sans-serif;
    letter-spacing: 0.2rem;
}

main {
    padding: 1.5rem;
    font-size: 2rem;
}

#player-list {
    padding-left: 0;
    list-style: none;
}

.player-box {
    $highlight-color: rgba(255, 0, 0, 1);
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: transparent solid 2.5px;
    border-radius: 10px;
    font-family: 'Jost-Book', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    transition: all 0.15s;
    &:hover {
        cursor: pointer;
        border: $highlight-color solid 2.5px;
        background-color: scale-color(change-color($highlight-color, $alpha: 0.75), $lightness: +15%);
    }
    &:active {
        opacity: 0.5;
    }
}