@use '../../App.scss';

#nav-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    height: 10rem;
    background-color: App.$secondary;
    font-family: 'Sans-Regular', sans-serif;
    h1 {
        font-size: 2.5rem;
    }
}

#room-code {
    font-family: 'Sans-Thin', sans-serif;
    letter-spacing: 0.2rem;
}

main {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.5rem;
    padding-top: 0;
    font-size: 2rem;
}

.flip-button {
    position:absolute;
    bottom: 0;
    right:0;
    width: 90px;
    height: 90px;
    border: none;
    transition: all 0.25s;
    background-image: url('../../assets/images/fold.svg');
}

.flip-button:hover {
    width: 130px;
    height: 130px;
}


#paper {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    position: absolute;
    width: 70%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 3rem;
    background-color: white;

    .button {
        width: auto;
        height: 2.5rem;
        box-sizing: border-box;
        margin-right: 1.5rem;
        padding: .75rem;
        border-radius: 15px;
        background-color: App.$secondary;
        transition: all 0.25s;
        &:hover {
            opacity: 0.75;
        }
    }

    .form-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: 2rem;

        div {
            pointer-events: none;
        }
        
        h4 {
            margin-bottom: 0.25rem;
        }
        
        input {
            width: 100%;
            box-sizing: border-box;
            outline: none;
            border: none;
            //border-radius: 15px;
            color: App.$secondary;
            opacity: 50%;
        }
        
        input[type=text] {
            min-width: 100%;
            color: App.$third-color;
            font-size: 1.5rem;
        }

        input[type=text]::placeholder {
            color: App.$secondary;
        }

        textarea {
            width: 100%;
            height: 50vh;
            color: App.$third-color;
            font-size: 1.5rem;
            opacity: 0.5;
            border: none;
            outline: none;
            resize: none;
            overflow: hidden;
            scroll-behavior: none;
        }

        .section-title {
            display: block;
            width: fit-content;
        }

        #mcq-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            
            margin-bottom: 1rem;
    
            button {
                margin-left: auto;
                margin-right: 0;
                
            }
        }
    
        .choice {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            min-height: 4rem;
            box-sizing: border-box;
            margin-bottom: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            border-style: solid;
            border-radius: 15px;
            border-width: 1.5px;
            border-color: App.$secondary;
            background-color: App.$secondary;
            pointer-events: all;
        
            label {
                flex: 1;
                margin-right: 0.75rem;
                font-size: 0; // https://css-tricks.com/fighting-the-space-between-inline-block-elements/
            }
        
            input[type=text] {
                border-style: dashed;
                border-radius: 10px;
                border-width: 1px;
                border-color: transparent;
                overflow-wrap: break-word;
                color: App.$secondary;
                background-color: transparent;
                transition: all 0.25s;
            }
        
            .circle-button-check {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.75rem;
                height: 1.75rem;
                margin-right: 0.75rem;
                padding: 0.25rem;
                border-radius: 5000px;
            }
        
            .circle-button-delete {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 0;
                border-radius: 5000px;
                font-family: 'Sans-Medium';
                font-size: 1.5rem;
                color: scale-color(change-color(red, $alpha: 0.75), $lightness: +15%);
            }
            button {
                &:hover {
                    opacity: 1;
                    filter: brightness(200%);
                }
                &:active {
                    opacity: 0.5;
                    filter: brightness(200%);
                }
            }
        }    
    }
}

.submit-button {
    width: 15rem;
    height: 3.5rem;
    margin-top: 1rem;
    background-color: App.$secondary;
    border: none;
    border-radius: 15px;    
    font-family: 'Sans-Regular', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    &:hover:enabled {
        cursor: pointer;
        filter: brightness(1.1);
        animation: pulse-shadow 0.5s;
    }
    &:active:enabled {
        filter: brightness(1);
    }
}

.respond-choice {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(54, 54, 54);
    border: none;
    background-color: gainsboro;
    transition: all 0.25s;

    &:hover {
        filter: brightness(0.85);
    }

    &:active {
        filter: brightness(0.95);
    }
}

.editor {
    color: black;
}