@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url('./assets/fonts/' + $font-file + '.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}
@include font('Sans-Thin', 'Inter-Thin');
@include font('Sans-Light', 'Inter-Light');
@include font('Sans-Regular', 'Inter-Regular');
@include font('Sans-Medium', 'Inter-Medium');
@include font('Sans-Bold', 'Inter-Bold');
@include font('Mono-Medium', 'RobotoMono-Medium');
@include font('Sans-Italic', 'ProductSans-ThinItalic');

$bg-color: rgba(74,186,255,255);
$secondary: rgba(76,88,117,0.4);
$third-color: rgba(76,88,117,255);
$light-gray: #F2F2F2;

* {
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}

.dark-text {
    color: $third-color;
    font-family: 'Sans-Bold';
}

body {
    font-family: 'Sans-Medium', sans-serif;
    background-color: $bg-color;
}

main {
    margin-bottom: 6rem;
}

.link-box {
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 7.5%;
    $padding: 1rem;
    position: absolute;
    padding: $padding;
    font-size: 1.35rem;
    background-color: $secondary;
}

.link-text {
    color:$third-color;
    font-size: 1.2rem;
    padding: 1rem;
    
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.logo {
    margin: 0;
    padding: 20px;
    width: 800px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-37%, -60%);
}

#loading {
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -5%);
}

.loading-text {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
}

#room-code-text {
    font-family: 'Mono-Medium', sans-serif;
}

.big-button {
    position: absolute;
    width: 11rem;
    height: 3rem;
    border: none;
    border-radius: 15px;
    background-color: $secondary;
    font-family: 'Sans-Regular', sans-serif;
    font-size: 1.5rem;
    transition-duration: 500ms;
    transform: translate(-50%, -50%);
    &:hover:enabled {
        cursor: pointer;
        width: 12rem;
        filter: brightness(1.1);
    }
    &:active:enabled {
        filter: brightness(1);
    }
}

.small-button {
    position: relative;
    width: 5.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: $secondary;
    font-family: 'Sans-Regular', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    transition-duration: 500ms;
    &:hover:enabled {
        cursor: pointer;
        filter: brightness(1.1);
        width: 6rem;
    }
    &:active:enabled {
        filter: brightness(1);
    }
}


#footer {
    border-top: dashed $third-color;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: $secondary;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.leaderboard-result {
    width: 50%;
    background-color: inherit;
    font: inherit;
    padding: 1rem;
    border-radius: 1rem;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.leaderboard-result:hover {
    background-color: rgba(76,88,117,0.1);
}

#timer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mono-Medium', sans-serif;
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
}