@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url('./assets/fonts/' + $font-file + '.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
}
@include font('Jost-Thin', 'Jost-200-Thin');
@include font('Jost-Light', 'Jost-300-Light');
@include font('Jost-Book', 'Jost-400-Book');
@include font('Jost-Medium', 'Jost-500-Medium');

$bg-color: rgba(74,186,255,255);
$secondary: rgba(76,88,117,255);

* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    font-family: 'Jost-Medium', sans-serif;
    background-color: $bg-color;
}

.link-box {
    display: flex;
    justify-content: center;
    width: auto;
    min-width: 7.5%;
    $padding: 1rem;
    position: absolute;
    padding: $padding;
    font-size: 1.35rem;
    background-color: $secondary;
}

.link-text {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-text {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
}
